@{Html.BeginForm("PainterReport", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Painter Report" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}